.container {
	width: 100%;
	margin: 0 auto !important;
	padding: 0.2em !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

// Containers
@media (min-width: 768px) {
	.container {
		max-width: 800px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 1100px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1350px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1500px;
	}
}
@media (min-width: 200px) {
	.container {
		max-width: 1800px;
	}
}
