{
	"env": {
	  "browser": true,
	  "es6": true
	},
	"extends": [
	  "eslint:recommended",
	  "plugin:react/recommended",
	  "plugin:@typescript-eslint/recommended"
	],
	"plugins": [
	  "react",
	  "react-hooks",
	  "@typescript-eslint",
	  "eslint-plugin-unused-imports"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
	  "linebreak-style": [
		  "error",
		  "unix"
	  ],
	  "jsx-quotes": [
		"error",
		"prefer-double"
	  ],
	  "react/react-in-jsx-scope": 0,
	  "object-curly-spacing": ["error", "always"],
	  "no-unused-vars": "off",
	  "unused-imports/no-unused-imports": "error",
	  "unused-imports/no-unused-vars": [
		"error",
		{
				  "vars": "all",
				  "varsIgnorePattern": "^_",
				  "args": "after-used",
				  "argsIgnorePattern": "^_"
			  }
	  ],
	  "object-shorthand": ["error", "properties"],
	  "react-hooks/rules-of-hooks": "error",
	//   "react-hooks/exhaustive-deps": "",
	  "react/jsx-no-duplicate-props": "error",
	  "quotes": ["error", "double", { "allowTemplateLiterals": true }]
	},
	"settings": {
	  "react": {
		"version": "^18.2.0"
	  }
	}
  }