// Colors
$color-primary: #0030ab;
$color-secondary: #141a34;
$color-green: #088651;
$color-red: #bd183f;
$color-cyan: #dff1ff;
$color-yellow: #ffe600;
$color-gray: #505050;
$color-black: #101824;
$color-dark: #010816;
$color-purple: #151527;
$color-brown: #6f4e37;
$color-non-active: rgba(0, 71, 255, 0.1);
$color-background: linear-gradient(245deg, #000428 -2.05%, #0862b0 116.34%);

// Fonts
$font-main: Ubuntu, "Ubuntu Mono", sans-serif !important;
$font-mono: "Ubuntu Mono", monospace !important;
$font-oxanium: "Oxanium", cursive;
