@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.install-wallet {
	position: fixed;
	top: -10%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in;
	z-index: 10;

	&__container {
		position: relative;
		width: 490px;
		height: 490px;
		border-radius: 120px;
		background: white;
		box-shadow: 0 0 30px rgba(221, 221, 221, 0.4);

		display: flex;
		justify-content: center;

		/* --------------------- */
		/* --- MetaMask Logo --- */
		/* --------------------- */
		svg {
			margin-top: 1rem;
		}
	}

	&__wrapper {
		font-family: $font-main;
		position: absolute;
		bottom: 80px;
		padding-inline: 40px;
	}

	&__title {
		@include displayFlex(unset);
		font-family: $font-oxanium;
		font-weight: 800;
		color: #da1111;
		font-size: 28px;
		text-shadow: 0 0 10px rgba(255, 0, 21, 0.3);

		ion-icon {
			font-size: 1.3em;
			padding-right: 7px;
		}
	}

	&__desc {
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.7;
	}

	&__readmore {
		padding: 0 7px;
		font-family: $font-oxanium;
		font-weight: 500;
		color: $color-primary;
	}

	&__button {
		@include displayFlex(space-between);
		position: absolute;
		bottom: -17px;
		font-family: $font-main !important;
		font-weight: 900 !important;
		font-size: 20px;
		padding: 12px 20px;
		border-radius: 24px;
		color: #fff;
		background: $color-primary;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 0px 15px rgba(2, 0, 114, 0.4), inset 3px 3px 10px rgba(1, 0, 54, 0.3);

		&:hover {
			background: #0054f1;
		}

		i {
			color: #fff;
			font-size: 1.2em;
			padding-right: 0.5em;
		}
	}
}

/* ---------------------- */
/* ----- Down Arrow ----- */
/* ---------------------- */
.downArrow {
	position: absolute;
	bottom: 35px;
	font-size: 38px;
	color: $color-black;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
