@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

$color--connect-wallet-text: #dedede;

.chart {
	max-width: 100%;
	height: 22rem;
	padding-inline: 2.5rem;
	color: white;
	margin-bottom: 4rem;

	&__header {
	}

	&__container {
		width: 100%;
		height: 100%;
		padding: 2.1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $color-black;
		border-radius: 2.8rem;
		box-shadow: 0 0 15px rgba(16, 24, 36, 1);
	}

	&__connect-wallet-alert {
		font-family: $font-oxanium;
		font-size: 1.4rem;
		margin: 0 auto;
		color: $color--connect-wallet-text;
		pointer-events: none;
		-webkit-pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		letter-spacing: 3px;
		text-shadow: 0 2px 15px rgba($color: #fff, $alpha: 0.55);
	}
}
