@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

$color--connect-wallet-text: #dedede;

.chart {
	max-width: 100%;
	height: 22rem;
	color: white;
	padding: 2rem;
	margin-inline: 2.5rem;
	margin-bottom: 4rem;
	background: $color-black;
	border-radius: 2.8rem;
	box-shadow: 0 0 15px rgba(16, 24, 36, 1);

	&__header {
		.chart__token-pair {
			font-size: 1em;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__connect-wallet-alert {
		font-family: $font-oxanium;
		font-size: 1.4rem;
		margin: 0 auto;
		color: $color--connect-wallet-text;
		pointer-events: none;
		-webkit-pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		letter-spacing: 3px;
		text-shadow: 0 2px 15px rgba($color: #fff, $alpha: 0.55);
	}
}
