.account-menu {
	position: fixed;
	top: 3vh;
	right: -388px;
	width: 388px;
	height: 95%;
	background-color: var(--dark-color);
	border-top-left-radius: 50px;
	box-shadow: -2px 1px 10px rgba(0, 0, 0, 0.3);
	border-end-start-radius: 50px;
	transition: right 0.5s ease-in-out;
	z-index: 13;
}

.close-menu {
	position: fixed;
	top: 3vh;
	right: -455px;
	width: 455px;
	height: 95%;
	background: rgba(255, 255, 255, 0.03);
	border-radius: 50px;
	transition: all 0.4s ease-in-out;
	transition-delay: 0.09s;
	z-index: 10;
	cursor: pointer;
}

.account-menu.open,
.close-menu.open {
	right: 0;
}

.close-menu:hover {
	opacity: 0.8;
	width: 440px;
}

.close-menu:hover .close-menu__btn {
	transform: translateX(0.3em);
}

.close-menu__btn {
	position: absolute;
	top: 15%;
	left: 0.7em;
	font-size: 1.3rem;
	color: white;
	opacity: 0.6;
	background: transparent;
	transition: all 0.3s ease-in-out;
}

.account-menu__wrapper {
	padding: 1rem 1rem;
}

.account-menu__header {
	display: grid;
	grid-template-columns: 18% 55% 1fr;
	align-items: center;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}

.account-menu__avatar {
	border-radius: 50px;
}

.account-menu__address {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.account-menu__address p {
	font-family: var(--mono-font);
	font-weight: 700;
	font-size: 1.3em;
	transition: all 0.2s ease;
}

.account-menu__address > ion-icon {
	display: none;
	font-size: 1.1em;
	padding-left: 10px;
	color: #777;
}

.account-menu__address:hover {
	color: #777;
}

.account-menu__address:hover > ion-icon {
	display: inline;
}

.account-menu__button-group {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.account-menu__disconnect {
	display: flex;
	justify-self: center;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	padding: 0.25em;
	border-radius: 50%;
	color: var(--red-color);
	background: none;
	transition: all 0.2s ease-in-out;
}

.account-menu__disconnect:hover {
	background: #bd183e21;
}

.account-menu__view {
	display: flex;
	justify-self: center;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	padding: 0.25em;
	color: white;
	border-radius: 50%;
	background: none;
	transition: all 0.2s ease-in-out;
}

.account-menu__view:hover {
	background: #80808021;
}

.account-menu__body {
	display: flex;
	margin-top: 1rem;
	padding-top: 1.3rem;
	margin-inline: 1.5rem;
	border-top: 1px dashed #ffffff73;
}

.account-menu__balance {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 30% 1fr;
	align-items: center;
	font-family: var(--oxanium-font);
	font-size: 1.2rem;
}

.account-menu__balance small {
	justify-self: end;
	font-family: var(--mono-font);
	user-select: all;
}

.account-menu__balance ion-icon {
	font-size: 1.3rem;
}
