@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.divider {
	visibility: hidden;
	width: 90%;
	height: 2px;
	background: white;
	opacity: 0.1;
	margin-block: 2rem;
}

.balance {
	position: absolute;
	top: 11%;
	width: 100%;
	padding-inline: 1.8rem;

	&__info {
		display: grid;
		grid-template-columns: 60% 1fr;
		align-items: center;
		color: #fff;

		&.error {
			grid-template-columns: 50% 1fr;

			& > .balance__fee {
				grid-template-columns: 100%;
			}
		}
	}

	&__error {
		font-size: 0.95em;
	}

	&__title {
		font-weight: 800;
		font-size: 1.1em;
	}

	&__fee {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		opacity: 0.6;
		font-family: $font-mono;
		font-size: 0.9em;
		user-select: auto;
		-webkit-user-select: auto;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			opacity: 1;

			i {
				padding-inline: 0.4em;
			}
		}
	}

	/* -------------------------- */
	/* ------- TRANSFERS -------- */
	/* -------------------------- */
	&__transfers {
		@include displayFlex(center);
		flex-direction: column;
		margin-top: 0.7rem;
	}

	&__form {
		width: 100%;
		position: relative;
		margin-block: 2rem;

		&:first-of-type {
			margin-bottom: 2.4rem;
		}

		form {
			width: 100%;
			position: relative;
			color: #fff;
		}
	}

	&__token {
		@include displayFlex(space-between);
		position: absolute;
		width: max-content;
		top: -1rem;
		right: 2rem;
		border-radius: 10rem;
		padding: 0.3rem 0.7rem 0.3rem 0.5rem;
		font-size: 1rem;
		letter-spacing: 2px;
		mix-blend-mode: normal;
		color: #fff;
		background: linear-gradient(90deg, #000000 -15.08%, #2357ffb0 107.82%), linear-gradient(0deg, #181c38, #181c38);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), inset 0 0 7px rgba(0, 0, 0, 0.7);
		transition: all 0.2s ease-out;
		cursor: pointer;
		z-index: 3;

		&:hover {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.9);
		}

		&[title="mETH"] {
			background: linear-gradient(90deg, #000000 -15.08%, #4666e3 107.82%), linear-gradient(0deg, #181c38, #181c38);
		}

		&[title="mDAI"] {
			background: linear-gradient(90deg, #794200 -15.08%, #fce517 107.82%);
		}

		&[title="mUSDT"] {
			background: linear-gradient(90deg, #000000 -25%, #00bb8c 107.82%), linear-gradient(0deg, #181c38, #181c38);
		}
	}

	&__token-img {
		max-width: 30px;
		margin-right: 0.4em;
	}

	&__token-name {
		font-family: $font-oxanium;
		font-weight: 500;
	}

	&__label {
		position: absolute;
		top: 1.2rem;
		left: 2.1rem;
		font-size: 0.7rem;
		opacity: 0.2;
	}

	&__input {
		width: 100%;
		height: 6.5rem;
		padding: 0.5rem 2rem;
		font-family: $font-mono;
		font-size: 1.8rem;
		background: $color-purple;
		border-radius: 2.6rem;
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.42), inset 7px 10px 31px rgba(0, 0, 0, 0.49);
		transition: all 0.3s ease-in;
		color: #fff;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type="number"] {
			-moz-appearance: textfield;
		}
	}

	&__form.withdraw &__input:focus {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.42), inset 7px 10px 31px rgba(211, 22, 22, 0.8);
	}

	&__form.deposit &__input:focus {
		box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.42), inset 7px 10px 31px rgba(3, 197, 123, 0.8);
	}

	&__btn {
		@include displayFlex(space-between);
		position: absolute;
		bottom: -27%;
		left: 50%;
		translate: -50%;
		padding: 1rem 2.48rem;
		font-weight: 500;
		font-size: 1.05rem;
		letter-spacing: 1px;
		border-radius: 10rem;
		transition: all 0.25s ease-in-out;
		mix-blend-mode: normal;
		color: white;
		z-index: 4;

		&--deposit {
			background: linear-gradient(96.04deg, #04c769 -14.79%, #006b3e 115.02%);
			box-shadow: 0px -5px 10px rgba(29, 66, 37, 0.4), inset 0px 4px 8px rgba(0, 0, 0, 0.3), 0 0 5px rgba(29, 66, 37, 0.2);
			backdrop-filter: blur(18px);
			-webkit-backdrop-filter: blur(18px);
		}

		&--withdraw {
			background: linear-gradient(129.07deg, #c01e45 25.18%, #22000b 131.04%);
			box-shadow: 0px -5px 20px rgba(37, 1, 1, 0.4), inset 0px 4px 8px rgba(0, 0, 0, 0.25), 0 0 5px rgba(51, 36, 36, 0.2);
			backdrop-filter: blur(18px);
			-webkit-backdrop-filter: blur(18px);
		}

		ion-icon {
			font-size: 1em;
			transition: all 0.2s ease-out;
		}

		&:hover ion-icon {
			margin-left: 0.4em;
		}
	}

	/* -------------------------
  	--------- AMOUNTS ---------- 
 	--------------------------- */
	&__amounts {
		width: 100%;
		position: absolute;
		display: grid;
		grid-template-columns: 1fr 10px 1fr;
		align-items: center;
		justify-items: center;
		left: 0;
		bottom: -3.93rem;
		font-family: $font-mono;
		font-size: 1.05rem;
		color: #fff;
		opacity: 0.8;
	}

	&__exchange {
		@include displayFlex(unset);

		img {
			max-width: 1.4rem;
		}
	}

	&__wallet {
		@include displayFlex(unset);
	}

	&__exchange small,
	&__wallet small {
		letter-spacing: 0.3px;
		margin-left: 0.3em;
		max-lines: 1;
	}

	&__exchange strong,
	&__wallet strong {
		margin-left: 0.3em;
		font-size: 0.8em;
	}

	&__amounts > span {
		width: 0.085rem;
		height: 100%;
		opacity: 0.2;
		background: whitesmoke;
	}
}
