@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

$color-bg-network-menu: $color-dark;

.Header {
	width: 100%;
	display: grid;
	grid-template-columns: 28% 33% 1fr;
	padding-top: 0.4rem;
	padding-inline: 2rem;
	font-size: 16px;
	user-select: none;

	/* ----------------------- */
	/* ----- Header LOGO ----- */
	/* ----------------------- */
	&__logo {
		color: white !important;
		user-select: none;
	}

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__img {
		max-width: 4rem;
	}

	&__title {
		font-family: $font-oxanium;
		font-size: 1.7em;
		margin-inline-start: 0.4rem;
		margin-inline-end: 0.5rem;
		letter-spacing: 4px;
	}

	&__span {
		font-family: $font-oxanium;
		font-size: 0.75em;
		margin-block-start: 0.6em;
		letter-spacing: 2px;
	}

	/* ----------------------- */
	/* ----- Header TABS ----- */
	/* ----------------------- */
	&__tabs-wrapper {
		@include displayFlex(center);
	}

	&__tabs {
		@include displayFlex(center);
		position: relative;
		width: 90%;
		height: 50px;
		padding: 10px;
		text-align: center;
		color: white;
		background: rgba(3, 5, 58, 0.3);
		box-shadow: 0px 2px 10px rgba(18, 16, 38, 0.4);
		border-radius: 30px;
		letter-spacing: 3px;
		z-index: 0;
	}

	&__tab {
		position: absolute;
		width: 40%;
		font-size: 1em;
		padding-block: 0.7rem;
		border-radius: inherit;
		background: $color-non-active;
		transition: all 0.4s ease-in-out;
		z-index: 3;

		&--settings-activated {
			width: 47%;

			&:hover {
				background: darken($color-non-active, $amount: 60%);
			}
		}

		&--swap {
			left: 2%;
		}

		&--trade {
			right: 2%;
		}

		&--active {
			width: 60%;
			background: $color-primary;
			box-shadow: inherit;
			font-weight: 900;
			z-index: 5;
		}
	}

	/* ----------------------- */
	/* -- Header CONNECTION -- */
	/* ----------------------- */
	&__connection {
		display: grid;
		grid-template-columns: 42% 1fr 20%;
		gap: 0.5rem;
		color: white;
	}

	&__networks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	&__network {
		position: relative;
		width: 80%;
	}

	&__network-btn {
		width: 100%;
		position: relative;
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		padding-block: 0.6rem;
		padding-left: 1.1em;
		font-size: 0.9em;
		color: white;
		letter-spacing: 1px;
		background: rgba(255, 255, 255, 0.03);
		border-radius: 30px;
		border: 0.15rem solid #01c0fd;
		box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
		transition: all 0.3s ease-out;

		&.active {
			background: rgba(255, 255, 255, 0.09);
			box-shadow: 0px 0px 1px 5px rgba(2, 14, 51, 0.7), 0px 0px 10px rgba(0, 0, 0, 0.5);

			& > ion-icon {
				rotate: 180deg;
			}
		}

		& > ion-icon {
			position: absolute;
			right: 0.7em;
			font-size: 1.1em;
			color: #01c0fd;
			transition: all 0.5s ease-out;
		}
	}

	&__network-icon {
		font-size: 1.4em;
		margin-left: 10px;
		margin-right: 10px;
		color: #01c0fd;
	}

	&__account {
		display: inherit;
		grid-template-columns: 100%;
		align-items: center;
		margin-left: 0.5rem;
	}

	&__account-btn {
		@include displayFlex(center);
		width: 90%;
		padding: 0.7rem 1.5rem;
		font-family: $font-oxanium;
		font-size: 1rem;
		font-weight: 700;
		color: $color-primary;
		border-radius: 40px;
		background: white;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.5s ease-out;
		align-self: center;

		&.connected {
			width: 100%;
		}

		& > ion-icon {
			font-size: 1.3em;
			padding-right: 10px;
		}
	}

	&__settings {
		position: relative;
		@include displayFlex(center);

		font-size: 1.8em;
		padding: 0.45em;
		justify-self: center;
		align-self: center;
		cursor: pointer;
		transition: all 0.2s ease-out;
		border-radius: 4rem;

		&:hover:not(.Header__settings--enabled) a {
			rotate: 20deg;
		}

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			scale: 0;
			background: #e2e2e21c;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			transition: all 0.3s ease-out;
			border-radius: 4rem;
		}

		&--enabled::after {
			scale: 1;
		}

		a {
			display: inherit;
			transition: all 0.2s ease-out;
		}
	}
}

.network-menu {
	position: absolute;
	top: 4rem;
	left: -0.7rem;
	width: 15rem;
	color: #01c0fd;
	padding: 0.2em 0.5em;
	background-color: $color-bg-network-menu;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	overflow: hidden;
	z-index: 5;

	&__item {
		padding: 0.8em 1.5em;
		margin: 0.3em 0;
		border-radius: 17px;
		transition: all 0.3s ease-out;
		cursor: pointer;

		&--selected {
			color: white;
			background-color: rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
		}

		&:not(.network-menu__item--selected):hover {
			background-color: lighten($color-dark, 4%);
		}
	}

	&__icon {
		margin-right: 0.5em;
	}
}

@media (max-width: 1200px) {
	.Header {
		grid-template-columns: 25% 45% 30%;

		&__networks,
		&__account-btn {
			width: 100%;
		}

		&__network {
			width: 70%;
		}

		&__network-btn span {
			display: none;
		}

		&__network-icon {
			font-size: 1.7em;
		}

		&__account-btn.connected p {
			display: none;
		}

		&__account-btn > ion-icon {
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 1024px) {
	.Header {
		grid-template-columns: 26% 54% 1fr;

		&__connection {
			grid-template-columns: 60% 40%;
			font-size: 1.1em;
		}

		&__network {
			width: 100%;
		}

		&__account {
			width: 25%;
			position: fixed;
			bottom: 2%;
			right: 3%;
		}

		&__account-btn {
			font-size: 1.3rem;
			padding-block: 1.1rem;
			font-weight: 900;

			&.connected {
				border-radius: 1.6em;
			}
		}

		&__settings {
			font-size: 2.1rem;
		}

		&__network-btn {
			padding-left: 2em;

			& > ion-icon {
				font-size: 1.4em;
			}
		}

		&__tabs {
			height: 58px;
		}

		&__tab {
			padding-block: 0.8rem;
		}
	}
}

@media (max-width: 992px) {
	.Header {
		align-items: center;
		grid-template-columns: 12% 70% 1fr;
		padding-top: 1rem;

		&__title,
		&__span {
			display: none;
		}

		&__connection {
			grid-template-columns: 100%;
		}

		&__settings {
			position: fixed;
			bottom: 2.7%;
			right: 31%;
			font-size: 2.2em;
		}

		&__tabs {
			height: 60px;
		}

		&__tab {
			padding-block: 0.9rem;
			font-size: 1.1em;
		}
	}

	.network-menu {
		left: -5rem;
	}
}

@media (max-width: 768px) {
	.Header {
		grid-template-columns: 1fr 65%;

		&__img {
			max-width: 5rem;
		}

		&__connection {
			grid-template-columns: 23% 1fr 15%;
		}

		&__networks {
			width: 70%;
			align-items: center;
		}

		&__network-btn {
			font-size: 1.1em;
			padding-block: 0;
			justify-content: center;
			padding: 1rem;
			border: none;

			&.active {
				box-shadow: 0px 0px 1px 5px rgba(2, 14, 51, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1);
			}

			& > ion-icon {
				display: none;
			}
		}

		&__network {
			width: max-content;
		}

		&__tabs-wrapper {
			width: 100%;
			position: fixed;
			left: 0;
			bottom: 3%;
		}

		&__tab--active {
			width: 62%;
		}

		&__account {
			position: relative;
			width: 100%;
			margin-left: 0;
		}

		&__account-btn {
			border-radius: 1.1em;
			font-size: 1.4em;
			box-shadow: 0px 0 10px 0 #0000008a;

			&:not(.connected) > ion-icon {
				display: none;
			}
		}

		&__settings {
			position: relative;
			justify-content: center;
			bottom: 0;
			right: 0;
		}
	}

	.network-menu {
		top: 5rem;
		font-size: 1em;
		border-radius: 30px;

		&__item {
			font-size: 1.03em;
			border-radius: 22px;
		}

		&__icon {
			font-size: 1.25em;
		}
	}
}

@media (max-width: 576px) {
	.Header {
		grid-template-columns: 50% 1fr;
		padding-inline: 1.5rem;
		font-size: 14px;

		&__img {
			max-width: 4rem;
		}

		&__connection {
			grid-template-columns: 100%;
			justify-content: end;

			&.connected {
				grid-template-columns: 40% 60%;

				.Header__account-btn {
					display: flex;
					width: 100%;
					font-size: 17px;

					ion-icon {
						display: block;
						padding-right: 0;
						font-size: 1.4em;
					}
				}
			}

			&:not(.connected) > .Header__networks {
				display: none;
			}

			& > .Header__account-btn {
				width: 70%;
				justify-self: end;
				padding-block: 0.8em;
				font-size: 17px;
				border-radius: 1.5em;
			}
		}

		&__settings {
			display: none;
		}
	}
}
