/* Import Ubuntu & Ubuntu Mono fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Import Oxanium font */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
/* Import Italianno font */
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

:root {
	/* Color Palette */
	--primary-color: #0030ab;
	--secondary-color: #fff;
	--green-color: #088651;
	--red-color: #bd183f;
	--cyan-color: #dff1ff;
	--yellow-color: #ffe600;
	--gray-color: #505050;
	--black-color: #101824;
	--background-color: linear-gradient(245deg, #000428 -2.05%, #0862b0 116.34%);

	/* Fonts */
	--main-font: Ubuntu, "Ubuntu Mono", sans-serif !important;
	--mono-font: "Ubuntu Mono", monospace !important;
	--italianno-font: "Italianno", cursive;
	--oxanium-font: "Oxanium", cursive;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #888;
}

::-webkit-scrollbar-thumb {
	background: #f1f1f1;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: var(--main-font) !important;
	background: var(--background-color) !important;
	mix-blend-mode: normal;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	text-rendering: optimizeSpeed;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

input,
button,
textarea,
select {
	font: inherit;
}

.container {
	max-width: 1300px !important;
	width: 100%;
	margin: 0 auto !important;
	padding: 0.2em !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

select,
input,
button {
	font-family: var(--main-font) !important;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
