/* Import Ubuntu & Ubuntu Mono fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Import Oxanium font */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

:root {
	/* Color Palette */
	--primary-color: #0030ab;
	--secondary-color: #141a34;
	--green-color: #088651;
	--red-color: #bd183f;
	--cyan-color: #dff1ff;
	--yellow-color: #ffe600;
	--gray-color: #505050;
	--black-color: #101824;
	--dark-color: #010816;
	--purple-color: #151527;
	--non-active-color: rgba(0, 71, 255, 0.1);
	--background-color: linear-gradient(245deg, #000428 -2.05%, #0862b0 116.34%);

	/* Fonts */
	--main-font: Ubuntu, "Ubuntu Mono", sans-serif !important;
	--mono-font: "Ubuntu Mono", monospace !important;
	--oxanium-font: "Oxanium", cursive;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* -------------------------
  -------- SCROLLBAR -------
  -------------------------- */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: var(--background-color);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(245deg, #000428 -2.05%, #054883 116.34%);
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: var(--main-font) !important;
	background: var(--background-color) !important;
	mix-blend-mode: normal;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	text-rendering: optimizeSpeed;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

input,
button,
textarea,
select {
	font: inherit;
}

.container {
	width: 100%;
	margin: 0 auto !important;
	padding: 0.2em !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

select,
input,
button {
	font-family: var(--main-font) !important;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

/* -------------------------
  ------ CUSTOM TOAST ------
  -------------------------- */
.Toaster {
	max-width: 100% !important;
	font-family: var(--oxanium-font) !important;
	font-weight: 700 !important;
	color: white !important;
	background-color: var(--dark-color) !important;
	border-radius: 20px !important;
}

.Toaster ion-icon {
	padding-left: 0.3rem;
	font-size: 1.5rem;
}

.Toaster .toast--flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Toaster .toast-btn {
	border-radius: 0.9rem;
	padding-inline: 0.9rem;
	padding-block: 0.4rem;
	margin-left: 0.6rem;
	transition: all 0.3s ease-in-out;
}

.Toaster .toast-btn--confirm {
	color: white;
	background: transparent;
}

.Toaster .toast-btn--confirm:hover {
	background: var(--black-color);
}

.Toaster .toast-btn--dismiss {
	color: white;
	background: var(--red-color);
	box-shadow: 0 1px 20px 5px rgba(151, 0, 25, 0.4);
}

.Toaster .toast-btn--dismiss:hover {
	color: var(--red-color);
	background: white;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Toaster .toast-spinner {
	width: 1.3vw;
	height: 1.3vw;
	border-radius: 50%;
	display: inline-block;
	border-top: 0.24vw solid #fff;
	border-right: 0.24vw solid transparent;
	opacity: 0;
	scale: 0;
	transition: all 0.3s ease-in-out;
}

.Toaster .toast-spinner.visible {
	animation: rotation 1s linear infinite;
	opacity: 1;
	scale: 1;
}

/* -------------------------
  ---- GLOBAL ANIMATIONS ---
  -------------------------- */
@-webkit-keyframes swing-in-left-fwd {
	0% {
		-webkit-transform: rotateY(100deg);
		transform: rotateY(100deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 1;
	}
}

@keyframes swing-in-left-fwd {
	0% {
		-webkit-transform: rotateY(100deg);
		transform: rotateY(100deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 1;
	}
}

@-webkit-keyframes swing-in-right-fwd {
	100% {
		-webkit-transform: rotateY(100deg);
		transform: rotateY(100deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0;
	}
	75% {
		-webkit-transform: rotateY(75deg);
		transform: rotateY(75deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0.75;
	}
	50% {
		-webkit-transform: rotateY(50deg);
		transform: rotateY(50deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0.5;
	}
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 1;
	}
}

@keyframes swing-in-right-fwd {
	100% {
		-webkit-transform: rotateY(100deg);
		transform: rotateY(100deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0;
	}
	75% {
		-webkit-transform: rotateY(75deg);
		transform: rotateY(75deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0.75;
	}
	50% {
		-webkit-transform: rotateY(50deg);
		transform: rotateY(50deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0.5;
	}
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 1;
	}
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -------------------------
  ------ CONTAINERS --------
  -------------------------- */
@media (min-width: 768px) {
	.container {
		max-width: 800px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 1100px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1350px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1500px;
	}
}
@media (min-width: 200px) {
	.container {
		max-width: 1800px;
	}
}
