@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

$color-th: #c0c0c0;
$color-td: #fff;
$color-no-order-warning-text: #7e7e7e;

.orderbook {
	max-width: 100%;
	height: 22rem;
	padding-inline: 2.5rem;
	color: white;
	grid-column: 1 /-1;

	&__header {
		@include displayFlex(center);
		position: relative;
		pointer-events: none;
		-webkit-pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
	}

	&__title {
		bottom: -1.5rem;
		position: absolute;
		padding: 1rem 2rem;
		background: $color-black;
		border-radius: 5rem;
		font-weight: 500;
		box-shadow: 0 1px 24px rgba(0, 0, 0, 0.6);
	}

	&__container {
		width: 100%;
		height: 100%;
		padding: 2.1rem;
		display: flex;
		justify-content: space-between;
		background: $color-black;
		border-radius: 3rem;
		box-shadow: 0 0 15px rgba(16, 24, 36, 1);
	}

	&__table {
		margin-top: 1.3rem;
		width: 90%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		caption {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 700;
			font-size: 1.15em;
			font-family: $font-oxanium;
			pointer-events: none;
			-webkit-pointer-events: none;
			user-select: none;
			-webkit-user-select: none;

			ion-icon {
				font-size: 0.95em;
				margin-right: 0.3em;
			}
		}

		thead {
			width: 100%;
			font-size: 0.89em;
			text-rendering: optimizeLegibility;
			margin-top: 2.2em;
			padding: 0 0.4rem;

			&.hidden {
				visibility: hidden;
			}

			tr {
				@include displayFlex(space-between);

				th {
					@include displayFlex(space-between);
					color: $color-th;
				}
			}
		}

		&--sell {
			margin-right: 4em;

			.token-price {
				color: $color-red;
			}
		}

		&--buy {
			.token-price {
				color: $color-green;
			}
		}
	}

	tbody {
		width: 100%;
		margin-top: 1rem;
		overflow-y: scroll;

		// Custom Scrollbar
		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: $color-primary;
		}

		tr {
			display: grid;
			gap: 5rem;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: start;
			align-items: center;
			cursor: pointer;
			border-radius: 15rem;
			padding: 0.2rem 0;
			transition: background 0.1s ease-in-out;

			&:hover {
				background: #01081677;
			}

			td {
				font-family: $font-main;
				color: $color-td;
				font-weight: 600;
				font-size: 0.9em;
				padding: 0.2rem 0.4rem;

				&:last-of-type {
					justify-self: end;
					padding-right: 17px;
				}
			}
		}
	}

	&__sort {
		cursor: pointer;
		padding-left: 0.3em;
	}

	&__no-order-warning {
		margin: 3em auto;
		font-size: 1.3rem !important;
		pointer-events: none;
		-webkit-pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
		color: $color-no-order-warning-text;
		letter-spacing: 1px;
	}
}
